body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #efefef;
}

* {
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
}

.page-title {
  display: block;
  line-height: 50px;
  height: 50px;
  font-size: 22px;
  color: #fff;
  //padding: 0 20px;
  font-weight: 300;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.search-input {
  @extend .page-title;
  width: 100%;
  height: 50px;
  border: 0;
  background: none;
}

.player {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 -3px 3px rgba(0, 95, 86, 0.8);
  transition: transform .3s linear;
  transform: translateY(105%);
  &--show {
    transform: translateY(0%);
  }
}

.base-container {
  height: 100vh;
  overflow: scroll;
  padding-bottom: 60px;
}

.player--show + .base-container {
  //height: calc( 100vh - 60px );
}

.icon-rotate {
  animation: 0.6s rotate infinite;
}

.appear-animation {
  animation-name: fade-in;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
