$size: 50px;

.navbar {
  height: $size;
  background: #009688;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;

  &__icon {
    width: $size;
    height: $size;
    flex: 1;
    max-width: $size;
    min-width: $size;
    font-size: 28px;
    line-height: $size;
    text-align: center;
    color: #fff;
  }

  &__body {
    flex: auto;
  }
}
